<h1>Receipt</h1>
<table>
	<tr>
		<th>Menu Item</th>
		<th>Price</th>
	</tr>
	<% @orders.each do |order|%>
	<tr>
		<td><%= order.item_name %></td>
		<td><%= order.item_price %></td>
	</tr>
	<% end %>
	<tr>
		<td>Total</td>
		<td><%= @party.total_price %></td>
	</tr>
</table>
<br>
<ul>
	<li>
		15% Gratuity: <%= (@party.total_price * 0.15).round(3) %></li>
	<li>20% Gratuity: <%= (@party.total_price * 0.2).round(3) %></li>
	<li>25% Gratuity: <%= (@party.total_price * 0.25).round(3) %></li>
</ul>
<p>Thank you!</p>