<h1><%= @party.name %></h1>
<h3>Table: <%= @party.table_name %> Party Size: <%= @party.number_people %>
</h3>
<a href="/parties/<%= @party.id %>/edit">Edit Party Information</a>
<form action="/parties/<%= @party.id %>" action="post">
	<input type="hidden" name="_method" value="delete">
	<input type="submit" value="delete">	
</form>

<h2>Orders:</h2>
<ul>
	<% @orders.each do |order| %>
	<a href="/parties/<%= @party.id %>/orders/<%= order.id %>"><li>
		<%= order.to_s %>
	</li></a>
		<% if order.price_change != 0 %>
		<li><%= order.price_change_note %> ..... $<%= order.price_change %></li>
		<% end %>
	<% end %>
	<li>Total: $ <%= @party.total_price %></li>
</ul>
<a href="/parties/<%= @party.id%>/receipt">Receipt</a><br>
<form action="/parties/<%= @party.id%>/checkout" method="post">
	<input type="hidden" name="_method" value="patch">
	<input type="submit" value="Mark as Paid">
</form>
<a href="/parties/<%= @party.id %>/orders/new">Add an Order</a><br>
<a href="/parties">All Tables</a>

