<h1>Orders for <%= @party.name %> Party</h1>
<ul>
	<% @orders.each do |order| %>
	<a href="/parties/<%= @party.id %>/orders/<%= order.id %>"><li>
		<%= order.to_s %>
	</li></a>
	<% end %>
	<li>Total ..... $ <%= @total %></li>
</ul>
<a href="/parties">Back to All Parties</a>
<a href="/">Home</a>