<form action="/parties/<%= @party.id%>/orders" method="post">
	<% @sorted.each do |course, menu_items| %>
		<h4><%= course %></h4>
		<% menu_items.each do |menu_item| %>
		<input type="radio" name="menu_item" value="<%= menu_item.id %>"><%= menu_item.name %> -- <%= menu_item.price %><br>
		<% end %>
	<% end %>
	<input type="hidden" name="start_time" value="<%= Time.now %>">
	<input type="submit" value="Add Order to Party" class="button">
</form>
