<h1>Order No. <%= @order.id %></h1>
Item: <%= @menu_item.name %><br>
Price: $ <%= @menu_item.price %><br>
Comp: <%= @order.price_change_note %> - $ <%= @order.price_change %><br>
Notes: <%= @order.notes %><br>

<a href="/parties/<%= @party.id %>/orders/<%= @order.id %>/edit">Edit</a>


<form action="/parties/<%= @party.id %>/orders/<%= @order.id %>" method="post">
	<input type="hidden" name="_method" value="delete">
	<input type="submit" value="delete">
</form>

<a href="/parties/<%= @party.id %>">Back to Table</a>